 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1025px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 913px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 38px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 302px;
  margin: 90px auto 0;
}

.u-section-1 .u-text-2 {
  text-align: center;
  width: 340px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 163px auto 0;
}

.u-section-1 .u-countdown-1 {
  margin: 60px auto 0;
  padding: 46px 24px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 0;
  padding: 27px 125px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 865px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 494px;
  background-image: url("images/banner2.jpg");
  background-position: 50% 50%;
  width: 494px;
  margin: 178px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 753px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 81px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 784px;
  }

  .u-section-1 .u-image-1 {
    height: 439px;
    width: 439px;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 131px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 233px;
    width: 324px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -45px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-1 .u-image-1 {
    height: 336px;
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -103px;
    margin-bottom: -103px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 795px;
  }

  .u-section-1 .u-image-1 {
    height: 490px;
    width: 490px;
    margin-top: 45px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-right: 0;
  }
}