html{
    background-image: url(media/background-image.jpg);
    cursor: url(https://amnesiacky.github.io/media/sword.png) 53 53, crosshair;
}

body {
    background-image: url(media/background-image.jpg);
    cursor: url(https://amnesiacky.github.io/media/sword.png) 53 53, crosshair;
}
